src/main/java/org/apereo/finaid/dao/mock/MockStudent.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema
  xmlns="http://source.jasig.org/schemas/portlet/financialaid/financialinfo"
  targetNamespace="http://source.jasig.org/schemas/portlet/financialaid/financialinfo"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

  <xs:complexType name="user" abstract="true">
  </xs:complexType>

    <xs:complexType name="awards">

      <!-- Award Attributes -->
      <xs:attribute name="status" type="xs:string"> 
      <xs:attribute name="offeredAmnt" type="xs:string"> 
      <xs:attribute name="paidAmt" type="xs:string"> 
      <xs:attribute name="fund" type="xs:string"> 
     </xs:complexType>

    <xs:complexType name="hold">

      <!-- Hold Attributes -->
      <xs:attribute name="req" type="xs:string"> 
      <xs:attribute name="url" type="xs:string"> 
    </xs:complexType>

    <xs:complexType name="progress">

      <!-- Progress Attributes -->
      <xs:attribute name="status" type="xs.string">
    </xs:complexType>

    <xs:complexType name="term">
      <xs:sequence>
      </xs:sequence>

      <!-- Term Attributes -->
      <xs:attribute name="code" type="xs:string">
      <xs:attribute name="desc" type="xs:string">
    </xs:complexType>

</xs:schema>

<ns2:FinancialInfo>
  <ns2:awards>
    <status>Accepted</status>
    <offeredAmnt>100000</offeredAmnt>
    <paidAmt>0</paidAmt>
    <fund>Loanz</fund>
  </ns2:awards>
  
  <ns2:awards>
    <status>Declined</status>
    <offeredAmnt>0</offeredAmnt>
    <paidAmt>0</paidAmt>
    <fund>Monies</fund>
  </ns2:awards>

  <ns2:awards>
    <status>Super Declined</status>
    <offeredAmnt>400000</offeredAmnt>
    <paidAmt>-8<paidAmt>
    <fund>OU Moniez</fund>
  </ns2:awards> 

  <ns2:awards>
    <status>Tentatively Accepted</status>
    <offeredAmnt>5</offeredAmnt>
    <paidAmt>0</paidAmt>
    <fund>More moniez</fund>
  </ns2:awards>

  <ns2:hold>
      <reg></req>
      <url></url>
  </ns2:hold>

  <ms2:progress>
    <status>You've been reviewed... No.</status>
  </ns2:progress>

  <ns2:term>
      <code>12345</code>
      <desc>Winter Semester 2015</desc>
  </ns2:term>
</ns2:FinancialInfo>





